*{
    padding : 0;
    margin : 0;
}

.container {
    display: flex;
    flex-flow : wrap column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

h1{
    margin: 20px;
}

table {
    display: flex;
    flex-flow : wrap column;
    align-items: center;
}

#tbody-1{
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
}

.td2 {
    background-color: burlywood;
    border : solid 1px black;
}

.td1 {
    /* border : solid 1px; */
    margin : 1px;
}

td {
    width: 30px;
    height: 30px;
}

tr {
    display: flex;
    flex-flow : wrap row;
}

.baduk-img {
    width: 30px;
    height: 30px;
};
